
  @import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Bungee&family=Caprasimo&family=Foldit:wght@500&family=Josefin+Sans:ital,wght@0,300;1,300&family=Kaisei+HarunoUmi:wght@400;500;700&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Lexend:wght@400;500;700&family=Livvic:wght@400;500;700&family=Mulish:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@400;500;700&family=Rubik+Dirt&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
}

body{
  overflow-x: hidden;
}


/* nav bar */
.nav-item{
  font-size: 18px;
  font-weight: 700;
}
.nav-item:hover .nav-link {
  color: #6d1d8e;
  position: relative;
}

.nav-item:hover .nav-link::after {
  content: '';
  display: block;
  height: 3px;
  width: 80%;
  background-color: #6d1d8e;
  position: absolute;
  bottom: 10px;
  left: 10%;
}

/* home section */

.home {
  height: auto;
  background-color: #deccff;
  padding: 20px 70px 50px;
}

.home .data{
  padding: 60px 10px 30px 60px ;
}

.home h1 {
  font-family: 'Kaisei HarunoUmi', serif;
  font-size: 40px;
  font-weight: 700;
  color: #6d1d8e;
  margin-bottom: 20px;
}

.home h3 {
  font-family: 'Kaisei HarunoUmi', serif;
  font-size: 24px;
  color: #6d1d8e;
  margin-bottom: 30px;
}

.home p {
  font-size: 14px;
  font-weight: 700;
}

.normal {
  font-size: 18px;
  background-color: #e5e2e2;
  color: #6d1d8e;
  padding: 10px 25px;
  border: 1px solid #6d1d8e;
  border-radius: 25px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.7s ease;
}

.home .data:hover button {
  border: none;
  background-color: #4e1566;
  color: #fff;
}


/* -----training program section---- */
#training-programs {
  background-color: #f2f2f2;
  padding: 50px;
}

#training-programs .col-sm-12 {
  margin-bottom: 30px;
}

.intro h1 {
  font-family: 'Kaisei HarunoUmi', serif;
  margin-top: 40px;
  font-size: 45px;
  font-weight: 700;
  color: #6d1d8e;
  margin-bottom: 30px;
}

.intro p {
  margin-top: 50px;
  font-size: 15px;
  color: #515151;
  line-height: 1.6;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #6d1d8e;
  width: 80%;
  margin: 0 auto;
}

.search-box input[type="text"] {
  border: none;
  outline: none;
  width: 100%;
  padding: 10px 12px;
  font-size: 20px;
  background: transparent;
}

.search-box i {
  color: #6d1d8e;
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.search-box i:hover {
  color: #4e1566;
}

/* courses */
.oval-shape {
  width: 180px;
  height: 150px;
  background-color: #e5e2e2; /* Your desired background color */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-left: 25%;
  margin-top: 20px;
}

.oval-shape i {
  font-size: 90px;
  color: #4e1566;
  transition: all 0.7s ease;
}
.card-body h5{
  font-weight: 700;
  color: #6d1d8e;
  margin: 15px 0;
}

.course-details span{
  font-weight: 700;
  color: #6d1d8e;
}
.course-details p {
  margin: 5px 0;
}

.course{
  transition: 0.7s ease;
}
.course:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.course:hover .oval-shape{
  background-color: #6d1d8e;
}
.course:hover i{
  color: #fff;
}
.course:hover .normal{
  border: none;
  background-color: #4e1566;
  color: #fff;
}


/* ------why luminar--------- */


.why-right h1{
  font-family: 'Kaisei HarunoUmi', serif;
  color: #6d1d8e;
  font-size: 48px;
  font-weight: 700;
  margin: 80px 0 50px 0;
}

.why-right p{
  font-size: 15px;
  margin-bottom: 50px;
}

.why-right li{
  font-weight: 700;
  font-size: 18px;
  list-style: none;
  line-height: 1.6;
  margin-bottom: 10px;
}
.why-right li i{
  color: #6d1d8e;
}

/* ------pen section------ */

#pen-section{
  background-color: #0b0d10;
}

.pen-section h1{
  font-family: 'Kaisei HarunoUmi', serif;
  color: #fff;
  padding-top: 80px;
  margin-bottom: 30px;
}
.pen-section p{
  font-size: 40px;
  font-size: 15px;
  color: #bb9867;
  margin-bottom: 40px;
}
.pen-section button{
  background-color: #fff;
}
.pen-section:hover button{
  border: none;
  background-color: #4e1566;
  color: #fff;
}

/* -----footer---------- */

footer a{
  text-decoration: none;
}

footer h6{
  color: #6d1d8e;
}
footer i, span{
  color: #6d1d8e;
}
